
.fa-k8s-pvc-1:before { content: '\e800'; } /* '' */
.fa-k8s-c-role:before { content: '\e801'; } /* '' */
.fa-k8s-cm:before { content: '\e802'; } /* '' */
.fa-k8s-deploy:before { content: '\e803'; } /* '' */
.fa-k8s-ds:before { content: '\e804'; } /* '' */
.fa-k8s-ing:before { content: '\e805'; } /* '' */
.fa-k8s-job:before { content: '\e806'; } /* '' */
.fa-k8s-crb:before { content: '\e807'; } /* '' */
.fa-k8s-ep:before { content: '\e808'; } /* '' */
.fa-k8s-limits:before { content: '\e809'; } /* '' */
.fa-k8s-pod:before { content: '\e80a'; } /* '' */
.fa-k8s-psp:before { content: '\e80b'; } /* '' */
.fa-k8s-rb:before { content: '\e80c'; } /* '' */
.fa-k8s-role:before { content: '\e80d'; } /* '' */
.fa-k8s-secret:before { content: '\e80e'; } /* '' */
.fa-k8s-sts:before { content: '\e80f'; } /* '' */
.fa-k8s-pv:before { content: '\e810'; } /* '' */
.fa-k8s-rs:before { content: '\e811'; } /* '' */
.fa-k8s-svc:before { content: '\e812'; } /* '' */
.fa-k8s-crd:before { content: '\e813'; } /* '' */
.fa-k8s-group:before { content: '\e814'; } /* '' */
.fa-k8s-netpol:before { content: '\e815'; } /* '' */
.fa-k8s-cronjob:before { content: '\e816'; } /* '' */
.fa-k8s-hpa:before { content: '\e817'; } /* '' */
.fa-k8s-ns:before { content: '\e818'; } /* '' */
.fa-k8s-pvc:before { content: '\e819'; } /* '' */
.fa-k8s-sa:before { content: '\e81a'; } /* '' */
.fa-k8s-user:before { content: '\e81b'; } /* '' */
.fa-k8s-quota:before { content: '\e81c'; } /* '' */
.fa-k8s-sc:before { content: '\e81d'; } /* '' */
.fa-k8s-vol:before { content: '\e81e'; } /* '' */
